

html{
	width:98%;
	height:98%;
}

body{
	width:98%;
	height:98%;
	
}

.board{
	height:100%;
	width:100%;
	display: inline-block;
}

.board .zone{
	display: inline-block;
	border: 0.1em solid black;
	text-align: center;
	vertical-align: middle;
}

.board .zonegroup{
	display: inline-block;
}

.board .edge{
	height:23%;
	width:100%;
}

.board .center{
	height:27%;
	width:100%;
}


.board .edge .hand{
	height: 98%;
	width:68%;
}

.board .edge .aura{
	height: 98%;
	width:26%;
}

.board .center .creature{
	float: left;
	height: 98%;
	width:79%;
}

.board .center .res{
	width:18%;
	height:99%;
}

.board .center .res .basicRes{
	height:40%;
	width:99%;
}

.board .center .res .mana{
	height:58%;
	width:99%;
}
