.cardBox{
	height: 100%;
	display:inline-block;
	padding-left:3px;
	padding-right:3px;
	font-size:12px;
}

.bigCardBox{
	width:14em;
	height:24em;
	font-size:15px;
}

.card{
	border: 0.1em solid black;
	display: inline-block;
	position: relative;
	height:96%;

}

.cardpart{
	display: inline-block;
	text-align: center;
}

.cardPartZone{
	display: inline-block;
	text-align: center;
}

.imageArea img{
	object-fit: cover;
	width: 100%;
	height:100%;
}
