html{
    height:100%;
    background: radial-gradient(rgba(0,120,160,1.0),rgba(0,52,69,1.0));
    color:lightblue;
}

h3{
    color:lightblue;
}

.whiteBg{
    background-color: rgba(240,240,240,.9);
}

.blackColor{
    color:black;
    border-color:black;
}

.blackColor:hover{
    color:black;
    border-color:black;
}

.blackColor::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}

.loginContainer{
    background-image: url("../images/splashBg.png");
    background-size:contain;
    background-position:center;
    height:100%;
    width:100%;
}

.shadowedButton{
    box-shadow: 0 -2px 20px 5px white;
    background-color:rgba(0,0,0,0);
    color:lightblue;
}

.shadowedButton:hover{
    box-shadow: 0 -1px 20px 5px #9ecaed;
    background-color:rgba(0,0,0,0);
    color:lightblue;
}

div::hover{
    box-shadow: 0 -1px 20px 5px yellow;
}

.centerText{
	text-align:center;
}

.hostPanel{
	border-color:blue;
}

body {
  background-color: #eee;
  height:99%;
}

.tallPanel{
    height:100%;
}

.tallCol{
    height:95%;
    display:inline-block;
    width:31%;
    text-align:center;
}

.fullCont{
    height:100%;
}

.fullRow{
    height:60%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#userlist ul {
  position: relative;
  top: 100%;
  display: block;
  margin: 0;
    
  list-style: none; 
  width: 100%; 
  padding: 0;
}

.my-panel{
  height: 20%;
  width: 40%;
}

.full{
  height:100%;
}
