.health{
	color:black;
	background:rgba(200,102,102,.6);
	background-image:url("../images/health.png");
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}

.regRes{
	display:inline-block;
    background-image:url("../images/coin.png");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

.manaHUD1{
    position:absolute;
    left:20px;
    width:50px;
    bottom:100px;
    font-size:20px;
    color:yellow;
}

.manaHUD2{
    position:absolute;
    right:70px;
    width:50px;
    top:100px;
    font-size:20px;
    color:yellow;
}

.HUD{
    z-index:100;
}

.overlayHUD1{
  position:absolute;
  left:20px;
  bottom:20px;
  height:80px;
  width:100px;
}

.overlayHUD2{
  position:absolute;
  right:20px;
  top:20px;
  height:80px;
  width:100px;
}


.userIcon{
    height:50px;
    width:50px;
    position:absolute;
    bottom:0px;
    left:0px;
    background-image:url(https://openclipart.org/download/247319/abstract-user-flat-3.svg);
    background-size:contain;
    background-repeat:no-repeat;
    background-color:black;
}

.healthLine{
  position:absolute;
  bottom:0px;
  left:50px;
  border:3px solid yellow;
  width:0px;
}

.healthBox{
  position:absolute;
  right:0px;
  top:0px;
  width:33%;
  height:35%;
  text-align:center;
  font-weight:bold;
}

.deckBox{
  position:absolute;
  right:34px;
  top:0px;
  width:34%;
  height:35%;
  text-align:center;
  background-color:white;
  background-image:url("../images/deckIcon.png");
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  font-weight:bold;
}

.imageSub{

}

.resBox{
  position:absolute;
  left:0px;
  top:0px;
  width:33%;
  height:35%;
  text-align:center;
  font-weight:bold;
}

.optionsGear{
  position:absolute;
  left:200px;
  bottom:0px;
  width:50%;
  height:50%;
  background-color:lightblue;
  background-image:url("../images/option.png");
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  text-align:center;
}

.resHUD .regRes{
	background-color:rgba(130,99,66,.7);
	display:table-cell;
	background-image:url("../images/coin.jpg");
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;

}

table{
	width:100%;
	height:100%;
}

tr{
	height:100%;
	width:100%;
}

td{
	width:33%;
	height:100%;
	vertical-align:middle;
	text-align:center;
	valign:middle;
}

.zonegroup .basicRes .resDisplay{
	position:relative;
	height:100%;
	text-align: center;
	vertical-align: middle;
}

.deckTd{
	background-image:url("../images/cardBack.jpg");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-color:rgba(128,188,163,.5);
}



.board .center .res .mana{
	position:absolute;
	top:40%;
	left:0%;
	height:60%;
	width:100%;
	background-color:rgba(30,30,30,.6);
}

.board .center .res .basicRes{
	position:relative;
	height:40%;
	width:100%;
}
