html{
	background-image: url("../images/boardBackground.jpg");
	width:98%;
	height:98%;
}

body{
	background:none;
	width:100%;
	height:98%;
	overflow:hidden;
}

.targetCursor{
	background-image: url("../images/targetCursor.png");
	height:50px;
	width:50px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:right bottom;
	z-index:500;
}

/* .endTurn{
	position:absolute;
	left:0%;
	top:0%;
	width:100%;
	height:50%;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image: url("../images/endTurnButton.png");
} */

body .bigModal .modal-dialog {
    width:80%;
	max-width:80%;
	height:80%;
}

.bigModal .modal-content {
	background:rgba(0,0,0,0);
	width:100%;
	height:100%;
	max-height:300px;
	text-align: center;
	border:none;
}

.bigModal .cardBox{
	opacity:1.0;
	margin-left:8px;
	margin-right:8px;
}

.infoZone{
	position:absolute;
	left:0%;
	top:0%;
	height:100%;
	width:10%;
}

.expandButton{
	background-image: url("../images/expandButton.png");
	position:absolute;
	z-index:100;
	bottom:3px;
	right:3px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:right bottom;
	height:10%;
	width:5%;
}

.board{
	height:100%;
	width:100%;
	display: inline-block;
	position:absolute;
	top:0%;
	left:0%;
}

.boardOverlay{
	position:absolute;
	top:0%;
	left:0%;
	z-index:100;
	height:100%;
	width:100%;
}


.board .zone{
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	height:100%;
}

.manaPool .manaRes{
	height:15%;
	display:flex;
}

.manaRes{
	padding-left: 3%;
	height:100%;
	display:inline-flex;
}

.manaRes img{
	max-height:100%;
	object-fit:contain;
}

.board .zonegroup{
	display: inline-block;
}

.board #edge2{
	position:absolute;
	top:0%;
	left:0%;
}

.board #edge1{
	position:absolute;
	top:77%;
	left:0%;
}

.board #center2{
	position:absolute;
	top:23%;
	left:0%;
}
.board #center1{
	position:absolute;
	top:50%;
	left:0%;
}


.board .edge{
	height:23%;
	width:100%;
	display: inline-block;
}

.board .center{
	height:27%;
	width:100%;
}

.board .edge .hand{
	position:absolute;
	top:0%;
	left:10%;
	height: 100%;
	width:63%;
}

.board .edge .aura{
	position:absolute;
	top:0%;
	left:73%;
	height: 100%;
	width:27%;
}

.board .center .creature{
	position:absolute;
	top:0%;
	left:0%;
	height: 100%;
	width:80%;
}

.board .center .res{
	position:absolute;
	top:0%;
	left:80%;
	width:20%;
	height:100%;
}

.boardOverlay{
	height:100%;
	width:100%;
	z-index: 300;
}


.onTop{
	position:absolute;
	z-index: 200;
	display: none;
	height:50%;
	width:100%;
	text-align: center;
	background-image: url("../images/boardBackground.jpg");
}


#onTop1{
	left: 0%;
	top: 50%;
	
}
#onTop2{
	left: 0%;
	top: 0%;
}
